body{
    background:radial-gradient(circle,#00FF99,#FF6666);
}
header{
    letter-spacing:5px;
    word-spacing:13px;
    transition:0.5s;
    font-family:Kristen ITC;
    text-align:center;
    border-bottom:8px solid #000;
    position:fixed;
    width:100%;
    opacity:0.7;
    background-color:White;
}
#main{
    margin-top:20px;
    padding:120px;
    color:White;
    font-size:20px;
    font-family:Candara;
}
#main .nav{
    margin:10px;
    padding:10px;
    color:Blue;
    font-family:Quicksand;
    font-size:20px;
    float:left;
}
#main .info{
    margin-left:90px;
    padding:10px;

}
.ourinfo{
    margin:15px;
    padding:15px;
    border: 5px double #CCCCFF;
}
.img:hover{
    width:550px;
    transition-delay:1s;
}